body {
    padding-top: 70px;
//    color: #333;
//    font-family: "Open Sans", sanf-serif;
//    font-size: 17px;
//    background-color: #eee;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
