body {
    padding-top: 70px;
    color: #333;
    font-family: "Open Sans", sanf-serif;
    font-size: 14px;
    background-color: #eee;
    line-height: 1.5em
}

.body-content > .row {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    padding-top: 25px;
    padding: 20px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
