<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# " lang="es">
<head>
<meta charset="utf-8">
<base href="http://lecovi.github.io/ifts/par/flask-templates/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Flask Templates | Make it So!</title>
<link href="../../../assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<link rel="alternate" type="application/rss+xml" title="RSS" href="../../../rss.xml">
<link rel="canonical" href="http://lecovi.github.io/ifts/par/flask-templates/">
<!--[if lt IE 9]><script src="../../../assets/js/html5.js"></script><![endif]--><link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css">
<link href="../../../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!--<link href="https://file.myfontastic.com/7mCLCcEo7ZcLzzzc986guN/icons.css" rel="stylesheet">--><meta name="author" content="Leandro E. Colombo Viña">
<meta property="og:site_name" content="Make it So!">
<meta property="og:title" content="Flask Templates">
<meta property="og:url" content="http://lecovi.github.io/ifts/par/flask-templates/">
<meta property="og:description" content="Contents

Etiquetas HTML5
Estructura de un documento HTML
Atributos HTML


Enlaces
Imágenes
Reglas horizontales
Texto preformateado
Formateando elementos
Tooltip
Comentario


Plantillas de Flask
Flask">
<meta property="og:type" content="article">
<meta property="article:published_time" content="2015-08-26T15:18:41-03:00">
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">Ir al contenido principal</a>

<!-- Menubar -->

<nav class="navbar navbar-inverse navbar-fixed-top"><div class="container">
<!-- This keeps the margins nice -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://lecovi.github.io/">

                <span id="blog-title">Make it So!</span>
            </a>
        </div>
<!-- /.navbar-header -->
        <div class="collapse navbar-collapse" id="bs-navbar" aria-expanded="false">
            <ul class="nav navbar-nav">
<li>
<a href="../../../blog/"><i class="fa fa-pencil"></i> Blog</a>
            </li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-university"></i> Cursos <b class="caret"></b></a>
            <ul class="dropdown-menu">
<li>
<a href="../../../cfp"><i class="fa fa-linux"></i> <strong>Centro de Formación Profesional<strong></strong></strong></a>
                    </li>
<li>
<a href="../../../cfp/prog/">  <i class="fa fa-code-fork"></i>  Técnicas de Programación</a>
                    </li>
<li>
<a href="../../../ifts"><i class=" fa-graduation-cap"></i> <strong>Terciario<strong></strong></strong></a>
                    </li>
<li>
<a href="../../arq/">  <i class="fa fa-laptop"></i> Arquitectura de Computadoras</a>
                    </li>
<li>
<a href="../../dlo/">  <i class="fa fa-sitemap"></i> Diagramación Lógica</a>
                    </li>
<li>
<a href="../../edd/">  <i class="fa fa-database"></i> Estructura de Datos</a>
                    </li>
<li>
<a href="../">  <i class="fa fa-code"></i> Paradigmas de Programación</a>
                    </li>
<li>
<a href="../../ana/">  <i class="fa fa-trello"></i> Análisis de Sistemas</a>
                    </li>
<li>
<a href="../../../bitson"><i class="fa fa-users"></i> <strong>BITSON<strong></strong></strong></a>
                    </li>
<li>
<a href="../../../bitson/prog-sl/">  <i class="fa fa-keyboard-o"></i> Programación con Software Libre</a>
                    </li>
<li>
<a href="../../../bitson/olin/">  <i class="fa fa-terminal"></i> Operador Básico GNU/Linux</a>
                    </li>
<li>
<a href="../../../bitson/reli/">  <i class="fa fa-qq"></i> Administración de Redes con GNU/Linux</a>
            </li>
</ul>
</li>
<li>
<a href="../../../resources/"><i class="fa fa-wrench"></i> Recursos</a>
                </li>
<li>
<a href="../../../archive.html"><i class="fa fa-archive"></i> Archivo</a>
                </li>
<li>
<a href="../../../categories/"><i class="fa fa-tags"></i> Etiquetas</a>
                </li>
<li>
<a href="../../../rss.xml"><i class="fa fa-rss"></i> RSS</a>

                
            </li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li>
    <a href="index.rst" id="sourcelink">Código fuente</a>
    </li>

                
            </ul>
</div>
<!-- /.navbar-collapse -->
    </div>
<!-- /.container -->
</nav><!-- End of Menubar --><div class="container" id="content" role="main">
    <div class="body-content">
        <!--Body content-->
        <div class="row">
            
            
<article class="storypage" itemscope="itemscope" itemtype="http://schema.org/Article"><header><h1 class="p-name entry-title" itemprop="headline name"><a href="." class="u-url">Flask Templates</a></h1>

        

    </header><div class="e-content entry-content" itemprop="articleBody text">
    <div>
<div class="contents alert alert-info pull-right topic" id="contents">
<p class="topic-title first">Contents</p>
<ul class="simple">
<li>
<a class="reference internal" href=".#etiquetas-html5" id="id1">Etiquetas HTML5</a><ul>
<li>
<a class="reference internal" href=".#estructura-de-un-documento-html" id="id2">Estructura de un documento HTML</a><ul>
<li><a class="reference internal" href=".#atributos-html" id="id3">Atributos HTML</a></li>
</ul>
</li>
<li><a class="reference internal" href=".#enlaces" id="id4">Enlaces</a></li>
<li><a class="reference internal" href=".#imagenes" id="id5">Imágenes</a></li>
<li><a class="reference internal" href=".#reglas-horizontales" id="id6">Reglas horizontales</a></li>
<li><a class="reference internal" href=".#texto-preformateado" id="id7">Texto preformateado</a></li>
<li><a class="reference internal" href=".#formateando-elementos" id="id8">Formateando elementos</a></li>
<li><a class="reference internal" href=".#tooltip" id="id9">Tooltip</a></li>
<li><a class="reference internal" href=".#comentario" id="id10">Comentario</a></li>
</ul>
</li>
<li>
<a class="reference internal" href=".#plantillas-de-flask" id="id11">Plantillas de Flask</a><ul>
<li><a class="reference internal" href=".#flask-devuelve-un-html" id="id12">Flask devuelve un HTML</a></li>
<li><a class="reference internal" href=".#flask-renderiza-una-plantilla" id="id13">Flask renderiza una plantilla</a></li>
<li><a class="reference internal" href=".#estructuras-de-control-en-las-plantillas" id="id14">Estructuras de control en las plantillas</a></li>
</ul>
</li>
</ul>
</div>
<dl class="jumbotron docutils">
<dt>
<strong>Objetivos</strong>:</dt>
<dd><ul class="first last simple">
<li>Conocer las etiquetas HTML5 más utilizadas.</li>
<li>Usar el sistema de plantillas HTML que utiliza Flask para armar las páginas web de una aplicación.</li>
<li>Conocer la sintáxis de Jinja2.</li>
</ul></dd>
</dl>
<div class="section" id="etiquetas-html5">
<h2><a class="toc-backref" href=".#id1">Etiquetas HTML5</a></h2>
<p>Las etiquetas HTML son elementos con nombre encerrados por los símbolos de mayor (<tt class="docutils literal">&lt;</tt>) y menor (<tt class="docutils literal">&gt;</tt>):</p>
<div class="tip">
<p class="first admonition-title">Tip</p>
<p class="last"><tt class="docutils literal"><span class="pre">&lt;nombre&gt;contenido...&lt;/nombre&gt;</span></tt></p>
</div>
<p>Consideraciones:</p>
<ul class="simple">
<li>La mayoria de las etiquetas se usan de a pares, por ejemplo: <tt class="docutils literal">&lt;p&gt;</tt> y <tt class="docutils literal">&lt;/p&gt;</tt>.</li>
<li>Se las llaman <cite>etiqueta de apertura</cite> y <cite>etiqueta de cierre</cite> respectivamente.</li>
<li>La etiqueta de cierre se escribe igual que la de apertura, pero el nombre comienza con barra (<tt class="docutils literal">/</tt>).</li>
<li>Si bien HTML no es sensible a las mayúsculas y minúsculas, las buenas prácticas dicen que las etiquetas deben escribirse con minúscula.</li>
<li>Todas los documentos HTML consisten en elementos HTML anidados.</li>
</ul>
<div class="warning">
<p class="first admonition-title">Warning</p>
<p class="last">No hay que olvidarse las etiquetas de cierre.</p>
</div>
<div class="section" id="estructura-de-un-documento-html">
<h3><a class="toc-backref" href=".#id2">Estructura de un documento HTML</a></h3>
<p>Un excelente lugar para aprender HTML5 es <a href="http://www.w3schools.com/html/default.asp" target="_blank">w3schools.com</a>. El documento más simple
que podemos armar en HTML5 es:</p>
<p><a class="reference external" href="../../../listings/par/encabezados.html.html">par/encabezados.html</a></p>
<pre class="code html"><a name="rest_code_aefb4295764144e59b9283ea39dfca45-1"></a> <span class="cp">&lt;!DOCTYPE html&gt;</span>
<a name="rest_code_aefb4295764144e59b9283ea39dfca45-2"></a><span class="nt">&lt;html&gt;</span>
<a name="rest_code_aefb4295764144e59b9283ea39dfca45-3"></a><span class="nt">&lt;head&gt;</span>
<a name="rest_code_aefb4295764144e59b9283ea39dfca45-4"></a><span class="nt">&lt;title&gt;</span>Título de la Página<span class="nt">&lt;/title&gt;</span>
<a name="rest_code_aefb4295764144e59b9283ea39dfca45-5"></a><span class="nt">&lt;/head&gt;</span>
<a name="rest_code_aefb4295764144e59b9283ea39dfca45-6"></a><span class="nt">&lt;body&gt;</span>
<a name="rest_code_aefb4295764144e59b9283ea39dfca45-7"></a>
<a name="rest_code_aefb4295764144e59b9283ea39dfca45-8"></a><span class="nt">&lt;h1&gt;</span>Mi primer encabezado<span class="nt">&lt;/h1&gt;</span>
<a name="rest_code_aefb4295764144e59b9283ea39dfca45-9"></a><span class="nt">&lt;p&gt;</span>Mi primer párrafo.<span class="nt">&lt;/p&gt;</span>
<a name="rest_code_aefb4295764144e59b9283ea39dfca45-10"></a><span class="nt">&lt;h2&gt;</span>Segundo encabezado<span class="nt">&lt;/h2&gt;</span>
<a name="rest_code_aefb4295764144e59b9283ea39dfca45-11"></a><span class="nt">&lt;h3&gt;</span>Tercer encabezado<span class="nt">&lt;/h3&gt;</span>
<a name="rest_code_aefb4295764144e59b9283ea39dfca45-12"></a>
<a name="rest_code_aefb4295764144e59b9283ea39dfca45-13"></a><span class="nt">&lt;/body&gt;</span>
<a name="rest_code_aefb4295764144e59b9283ea39dfca45-14"></a><span class="nt">&lt;/html&gt;</span>
</pre>
<img alt="/images/par/estructura_html.png" class="align-center" src="../../../images/par/estructura_html.png"><div class="tip">
<p class="first admonition-title">Tip</p>
<ul class="last simple">
<li>Todos los elementos que están dentro de la etiqueta <tt class="docutils literal">&lt;body&gt;</tt> son los que vemos en el navegador web.</li>
<li>El elemento <tt class="docutils literal">&lt;head&gt;</tt> es un contenedor de metadata. La metadata HTML es información sobre el documento HTML en sí. La metadata no se muestra en el navegador web.</li>
</ul>
</div>
<div class="section" id="atributos-html">
<h4><a class="toc-backref" href=".#id3">Atributos HTML</a></h4>
<ul class="simple">
<li>Todos los elementos HTML pueden tener atributos.</li>
<li>Los atributos proveen información adicional sobre los elementos.</li>
<li>Los atributos siempre van dentro de la etiqueta de apertura.</li>
<li>Los atributos usualmente vienen en pares <cite>nombre-valor</cite>, como: <tt class="docutils literal"><span class="pre">name="value"</span></tt>.</li>
</ul>
</div>
</div>
<div class="section" id="enlaces">
<h3><a class="toc-backref" href=".#id4">Enlaces</a></h3>
<p><a class="reference external" href="../../../listings/par/enlaces.html.html">par/enlaces.html</a></p>
<pre class="code html"><a name="rest_code_92a98e97eb4a4f2e9fc5ed3fa9079a48-1"></a> <span class="cp">&lt;!DOCTYPE html&gt;</span>
<a name="rest_code_92a98e97eb4a4f2e9fc5ed3fa9079a48-2"></a><span class="nt">&lt;html&gt;</span>
<a name="rest_code_92a98e97eb4a4f2e9fc5ed3fa9079a48-3"></a><span class="nt">&lt;head&gt;</span>
<a name="rest_code_92a98e97eb4a4f2e9fc5ed3fa9079a48-4"></a><span class="nt">&lt;title&gt;</span>Enlaces<span class="nt">&lt;/title&gt;</span>
<a name="rest_code_92a98e97eb4a4f2e9fc5ed3fa9079a48-5"></a><span class="nt">&lt;/head&gt;</span>
<a name="rest_code_92a98e97eb4a4f2e9fc5ed3fa9079a48-6"></a><span class="nt">&lt;body&gt;</span>
<a name="rest_code_92a98e97eb4a4f2e9fc5ed3fa9079a48-7"></a>
<a name="rest_code_92a98e97eb4a4f2e9fc5ed3fa9079a48-8"></a><span class="nt">&lt;h1&gt;</span>Mi primer enlace<span class="nt">&lt;/h1&gt;</span>
<a name="rest_code_92a98e97eb4a4f2e9fc5ed3fa9079a48-9"></a><span class="nt">&lt;p&gt;</span>Hace click en este <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"http://bitson.com.ar"</span><span class="nt">&gt;</span>Link<span class="nt">&lt;/a&gt;&lt;/p&gt;</span>
<a name="rest_code_92a98e97eb4a4f2e9fc5ed3fa9079a48-10"></a>
<a name="rest_code_92a98e97eb4a4f2e9fc5ed3fa9079a48-11"></a><span class="nt">&lt;/body&gt;</span>
<a name="rest_code_92a98e97eb4a4f2e9fc5ed3fa9079a48-12"></a><span class="nt">&lt;/html&gt;</span>
</pre>
</div>
<div class="section" id="imagenes">
<h3><a class="toc-backref" href=".#id5">Imágenes</a></h3>
<p><a class="reference external" href="../../../listings/par/imagenes.html.html">par/imagenes.html</a></p>
<pre class="code html"><a name="rest_code_94291d6777f94a76ab792621d7b3a824-1"></a> <span class="cp">&lt;!DOCTYPE html&gt;</span>
<a name="rest_code_94291d6777f94a76ab792621d7b3a824-2"></a><span class="nt">&lt;html&gt;</span>
<a name="rest_code_94291d6777f94a76ab792621d7b3a824-3"></a><span class="nt">&lt;head&gt;</span>
<a name="rest_code_94291d6777f94a76ab792621d7b3a824-4"></a><span class="nt">&lt;title&gt;</span>Imágenes<span class="nt">&lt;/title&gt;</span>
<a name="rest_code_94291d6777f94a76ab792621d7b3a824-5"></a><span class="nt">&lt;/head&gt;</span>
<a name="rest_code_94291d6777f94a76ab792621d7b3a824-6"></a><span class="nt">&lt;body&gt;</span>
<a name="rest_code_94291d6777f94a76ab792621d7b3a824-7"></a>
<a name="rest_code_94291d6777f94a76ab792621d7b3a824-8"></a><span class="nt">&lt;h1&gt;</span>Insertando imágenes en HTML<span class="nt">&lt;/h1&gt;</span>
<a name="rest_code_94291d6777f94a76ab792621d7b3a824-9"></a><span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"http://www.bitson.com.ar/firma_mail_bitson.png"</span> <span class="na">alt=</span><span class="s">"Frima Mail BITSON"</span> <span class="na">with=</span><span class="s">"100%"</span><span class="nt">&gt;</span>
<a name="rest_code_94291d6777f94a76ab792621d7b3a824-10"></a>
<a name="rest_code_94291d6777f94a76ab792621d7b3a824-11"></a><span class="nt">&lt;/body&gt;</span>
<a name="rest_code_94291d6777f94a76ab792621d7b3a824-12"></a><span class="nt">&lt;/html&gt;</span>
</pre>
</div>
<div class="section" id="reglas-horizontales">
<h3><a class="toc-backref" href=".#id6">Reglas horizontales</a></h3>
<p><a class="reference external" href="../../../listings/par/hr.html.html">par/hr.html</a></p>
<pre class="code html"><a name="rest_code_437ad6d72b6e45e6944dd5facba8a7c4-1"></a> <span class="cp">&lt;!DOCTYPE html&gt;</span>
<a name="rest_code_437ad6d72b6e45e6944dd5facba8a7c4-2"></a><span class="nt">&lt;html&gt;</span>
<a name="rest_code_437ad6d72b6e45e6944dd5facba8a7c4-3"></a><span class="nt">&lt;head&gt;</span>
<a name="rest_code_437ad6d72b6e45e6944dd5facba8a7c4-4"></a><span class="nt">&lt;title&gt;</span>Horizontal Rule<span class="nt">&lt;/title&gt;</span>
<a name="rest_code_437ad6d72b6e45e6944dd5facba8a7c4-5"></a><span class="nt">&lt;/head&gt;</span>
<a name="rest_code_437ad6d72b6e45e6944dd5facba8a7c4-6"></a><span class="nt">&lt;body&gt;</span>
<a name="rest_code_437ad6d72b6e45e6944dd5facba8a7c4-7"></a>
<a name="rest_code_437ad6d72b6e45e6944dd5facba8a7c4-8"></a><span class="nt">&lt;h1&gt;</span>Encabezado 1<span class="nt">&lt;/h1&gt;</span>
<a name="rest_code_437ad6d72b6e45e6944dd5facba8a7c4-9"></a><span class="nt">&lt;p&gt;</span>Saraza.<span class="nt">&lt;/p&gt;</span>
<a name="rest_code_437ad6d72b6e45e6944dd5facba8a7c4-10"></a><span class="nt">&lt;hr&gt;</span>
<a name="rest_code_437ad6d72b6e45e6944dd5facba8a7c4-11"></a><span class="nt">&lt;h2&gt;</span>Encabezado 2<span class="nt">&lt;/h2&gt;</span>
<a name="rest_code_437ad6d72b6e45e6944dd5facba8a7c4-12"></a><span class="nt">&lt;p&gt;</span>Más saraza.<span class="nt">&lt;/p&gt;</span>
<a name="rest_code_437ad6d72b6e45e6944dd5facba8a7c4-13"></a><span class="nt">&lt;hr&gt;</span>
<a name="rest_code_437ad6d72b6e45e6944dd5facba8a7c4-14"></a>
<a name="rest_code_437ad6d72b6e45e6944dd5facba8a7c4-15"></a><span class="nt">&lt;/body&gt;</span>
<a name="rest_code_437ad6d72b6e45e6944dd5facba8a7c4-16"></a><span class="nt">&lt;/html&gt;</span>
</pre>
</div>
<div class="section" id="texto-preformateado">
<h3><a class="toc-backref" href=".#id7">Texto preformateado</a></h3>
<p><a class="reference external" href="../../../listings/par/pre.html.html">par/pre.html</a></p>
<pre class="code html"><a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-1"></a> <span class="cp">&lt;!DOCTYPE html&gt;</span>
<a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-2"></a><span class="nt">&lt;html&gt;</span>
<a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-3"></a><span class="nt">&lt;head&gt;</span>
<a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-4"></a><span class="nt">&lt;title&gt;</span>pre<span class="nt">&lt;/title&gt;</span>
<a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-5"></a><span class="nt">&lt;/head&gt;</span>
<a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-6"></a><span class="nt">&lt;body&gt;</span>
<a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-7"></a>
<a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-8"></a><span class="nt">&lt;p&gt;</span>Lo que sigue es texto preformateado:<span class="nt">&lt;/p&gt;</span>
<a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-9"></a> <span class="nt">&lt;pre&gt;</span>
<a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-10"></a>  My Bonnie lies over the ocean.
<a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-11"></a>My Bonnie lies over the sea.
<a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-12"></a>
<a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-13"></a>  My Bonnie lies over the ocean.
<a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-14"></a>
<a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-15"></a>  Oh, bring back my Bonnie to me.
<a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-16"></a><span class="nt">&lt;/pre&gt;</span>
<a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-17"></a>
<a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-18"></a><span class="nt">&lt;/body&gt;</span>
<a name="rest_code_ff6063f3a6eb47078eb95d7ba3cfddb8-19"></a><span class="nt">&lt;/html&gt;</span>
</pre>
</div>
<div class="section" id="formateando-elementos">
<h3><a class="toc-backref" href=".#id8">Formateando elementos</a></h3>
<p><a class="reference external" href="../../../listings/par/format.html.html">par/format.html</a></p>
<pre class="code html"><a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-1"></a> <span class="cp">&lt;!DOCTYPE html&gt;</span>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-2"></a><span class="nt">&lt;html&gt;</span>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-3"></a><span class="nt">&lt;head&gt;</span>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-4"></a><span class="nt">&lt;title&gt;</span>Formato<span class="nt">&lt;/title&gt;</span>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-5"></a><span class="nt">&lt;/head&gt;</span>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-6"></a><span class="nt">&lt;body&gt;</span>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-7"></a>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-8"></a><span class="nt">&lt;h1&gt;</span>Formato de texto<span class="nt">&lt;/h1&gt;</span>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-9"></a><span class="nt">&lt;p&gt;</span>Lo que sigue es texto formateado en <span class="nt">&lt;b&gt;</span>negrita<span class="nt">&lt;/b&gt;&lt;/p&gt;</span>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-10"></a><span class="nt">&lt;p&gt;</span>Lo que sigue es texto formateado con <span class="nt">&lt;strong&gt;</span>strong<span class="nt">&lt;/strong&gt;&lt;/p&gt;</span>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-11"></a><span class="nt">&lt;p&gt;</span>Lo que sigue es texto formateado en <span class="nt">&lt;i&gt;</span>itálica<span class="nt">&lt;/i&gt;&lt;/p&gt;</span>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-12"></a><span class="nt">&lt;p&gt;</span>Lo que sigue es texto formateado con <span class="nt">&lt;em&gt;</span>énfasis<span class="nt">&lt;/em&gt;&lt;/p&gt;</span>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-13"></a><span class="nt">&lt;p&gt;</span>Lo que sigue es texto formateado con <span class="nt">&lt;mark&gt;</span>resaltado<span class="nt">&lt;/mark&gt;&lt;/p&gt;</span>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-14"></a><span class="nt">&lt;p&gt;</span>Lo que sigue es texto formateado como <span class="nt">&lt;small&gt;</span>pequeño<span class="nt">&lt;/small&gt;&lt;/p&gt;</span>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-15"></a><span class="nt">&lt;p&gt;</span>Lo que sigue es texto formateado con <span class="nt">&lt;del&gt;</span>tachado<span class="nt">&lt;/del&gt;&lt;/p&gt;</span>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-16"></a><span class="nt">&lt;p&gt;</span>Lo que sigue es texto formateado con <span class="nt">&lt;ins&gt;</span>subrayado<span class="nt">&lt;/ins&gt;&lt;/p&gt;</span>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-17"></a><span class="nt">&lt;p&gt;</span>Lo que sigue es texto formateado en <span class="nt">&lt;sup&gt;</span>superíndice<span class="nt">&lt;/sup&gt;&lt;/p&gt;</span>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-18"></a><span class="nt">&lt;p&gt;</span>Lo que sigue es texto formateado en <span class="nt">&lt;sub&gt;</span>subíndice<span class="nt">&lt;/sub&gt;&lt;/p&gt;</span>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-19"></a>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-20"></a><span class="nt">&lt;/body&gt;</span>
<a name="rest_code_f296480ae40e4fbcb5c185dc9a0b2ba9-21"></a><span class="nt">&lt;/html&gt;</span>
</pre>
</div>
<div class="section" id="tooltip">
<h3><a class="toc-backref" href=".#id9">Tooltip</a></h3>
<p><a class="reference external" href="../../../listings/par/tooltip.html.html">par/tooltip.html</a></p>
<pre class="code html"><a name="rest_code_41dadc4fcf2e47b18b3e45ec1ce155ee-1"></a> <span class="cp">&lt;!DOCTYPE html&gt;</span>
<a name="rest_code_41dadc4fcf2e47b18b3e45ec1ce155ee-2"></a><span class="nt">&lt;html&gt;</span>
<a name="rest_code_41dadc4fcf2e47b18b3e45ec1ce155ee-3"></a><span class="nt">&lt;head&gt;</span>
<a name="rest_code_41dadc4fcf2e47b18b3e45ec1ce155ee-4"></a><span class="nt">&lt;title&gt;</span>Tooltip<span class="nt">&lt;/title&gt;</span>
<a name="rest_code_41dadc4fcf2e47b18b3e45ec1ce155ee-5"></a><span class="nt">&lt;/head&gt;</span>
<a name="rest_code_41dadc4fcf2e47b18b3e45ec1ce155ee-6"></a><span class="nt">&lt;body&gt;</span>
<a name="rest_code_41dadc4fcf2e47b18b3e45ec1ce155ee-7"></a>
<a name="rest_code_41dadc4fcf2e47b18b3e45ec1ce155ee-8"></a><span class="nt">&lt;p</span> <span class="na">title=</span><span class="s">"What's up!?"</span><span class="nt">&gt;</span>Mi primer tooltip.<span class="nt">&lt;/p&gt;</span>
<a name="rest_code_41dadc4fcf2e47b18b3e45ec1ce155ee-9"></a>
<a name="rest_code_41dadc4fcf2e47b18b3e45ec1ce155ee-10"></a><span class="nt">&lt;/body&gt;</span>
<a name="rest_code_41dadc4fcf2e47b18b3e45ec1ce155ee-11"></a><span class="nt">&lt;/html&gt;</span>
</pre>
</div>
<div class="section" id="comentario">
<h3><a class="toc-backref" href=".#id10">Comentario</a></h3>
<p><a class="reference external" href="../../../listings/par/comentario.html.html">par/comentario.html</a></p>
<pre class="code html"><a name="rest_code_699522121a554ea0b5b356eb4b9bade3-1"></a><span class="cp">&lt;!DOCTYPE html&gt;</span>
<a name="rest_code_699522121a554ea0b5b356eb4b9bade3-2"></a><span class="nt">&lt;html&gt;</span>
<a name="rest_code_699522121a554ea0b5b356eb4b9bade3-3"></a><span class="nt">&lt;head&gt;</span>
<a name="rest_code_699522121a554ea0b5b356eb4b9bade3-4"></a><span class="nt">&lt;title&gt;</span>Comentario HTML<span class="nt">&lt;/title&gt;</span>
<a name="rest_code_699522121a554ea0b5b356eb4b9bade3-5"></a><span class="nt">&lt;/head&gt;</span>
<a name="rest_code_699522121a554ea0b5b356eb4b9bade3-6"></a><span class="nt">&lt;body&gt;</span>
<a name="rest_code_699522121a554ea0b5b356eb4b9bade3-7"></a>
<a name="rest_code_699522121a554ea0b5b356eb4b9bade3-8"></a><span class="nt">&lt;h1&gt;</span>Documento con comentario<span class="nt">&lt;/h1&gt;</span>
<a name="rest_code_699522121a554ea0b5b356eb4b9bade3-9"></a><span class="c">&lt;!-- Este es un comentario y no se ve en el navegador --&gt;</span>
<a name="rest_code_699522121a554ea0b5b356eb4b9bade3-10"></a><span class="nt">&lt;p&gt;</span>Mi primer parrafo.<span class="nt">&lt;/p&gt;</span>
<a name="rest_code_699522121a554ea0b5b356eb4b9bade3-11"></a>
<a name="rest_code_699522121a554ea0b5b356eb4b9bade3-12"></a><span class="nt">&lt;/body&gt;</span>
<a name="rest_code_699522121a554ea0b5b356eb4b9bade3-13"></a><span class="nt">&lt;/html&gt;</span>
</pre>
</div>
</div>
<div class="section" id="plantillas-de-flask">
<h2><a class="toc-backref" href=".#id11">Plantillas de Flask</a></h2>
<div class="section" id="flask-devuelve-un-html">
<h3><a class="toc-backref" href=".#id12">Flask devuelve un HTML</a></h3>
<p><a class="reference external" href="../../../listings/par/routes2.py.html">par/routes2.py</a></p>
<pre class="code python3"><a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-1"></a><span class="c">#!/usr/bin/env python</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-2"></a>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-3"></a><span class="kn">from</span> <span class="nn">flask</span> <span class="k">import</span> <span class="n">Flask</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-4"></a>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-5"></a><span class="n">app</span> <span class="o">=</span> <span class="n">Flask</span><span class="p">(</span><span class="n">__name__</span><span class="p">)</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-6"></a>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-7"></a><span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s">'/'</span><span class="p">)</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-8"></a><span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s">'/index'</span><span class="p">)</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-9"></a><span class="k">def</span> <span class="nf">index</span><span class="p">():</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-10"></a>    <span class="k">return</span> <span class="s">"Hello World!"</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-11"></a>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-12"></a><span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s">'/user'</span><span class="p">)</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-13"></a><span class="k">def</span> <span class="nf">user</span><span class="p">():</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-14"></a>    <span class="n">user</span> <span class="o">=</span> <span class="p">{</span><span class="s">'nick'</span><span class="p">:</span> <span class="s">'Leo'</span><span class="p">,</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-15"></a>            <span class="s">'name'</span><span class="p">:</span> <span class="s">'Leandro'</span><span class="p">}</span>  <span class="c"># fake user</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-16"></a>    <span class="k">return</span> <span class="s">'''&lt;!DOCTYPE html&gt;</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-17"></a><span class="s">&lt;html&gt;</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-18"></a><span class="s">&lt;head&gt;</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-19"></a><span class="s">&lt;title&gt;Usuario {nick}&lt;/title&gt;</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-20"></a><span class="s">&lt;/head&gt;</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-21"></a><span class="s">&lt;body&gt;</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-22"></a>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-23"></a><span class="s">&lt;h1&gt;Hola {usuario}&lt;/h1&gt;</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-24"></a><span class="s">&lt;p&gt;Está bastante bueno esto de Flask.&lt;/p&gt;</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-25"></a>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-26"></a><span class="s">&lt;/body&gt;</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-27"></a><span class="s">&lt;/html&gt;</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-28"></a><span class="s">'''</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">usuario</span><span class="o">=</span><span class="n">user</span><span class="p">[</span><span class="s">'name'</span><span class="p">],</span> <span class="n">nick</span><span class="o">=</span><span class="n">user</span><span class="p">[</span><span class="s">'nick'</span><span class="p">])</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-29"></a>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-30"></a><span class="k">if</span> <span class="n">__name__</span> <span class="o">==</span> <span class="s">"__main__"</span><span class="p">:</span>
<a name="rest_code_0a1d99cd9d4740a49475ae1fc40b26ab-31"></a>    <span class="n">app</span><span class="o">.</span><span class="n">run</span><span class="p">(</span><span class="n">debug</span><span class="o">=</span><span class="k">True</span><span class="p">)</span>
</pre>
</div>
<div class="section" id="flask-renderiza-una-plantilla">
<h3><a class="toc-backref" href=".#id13">Flask renderiza una plantilla</a></h3>
<p><a class="reference external" href="../../../listings/par/routes3.py.html">par/routes3.py</a></p>
<pre class="code python3"><a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-1"></a><span class="c">#!/usr/bin/env python</span>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-2"></a>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-3"></a><span class="kn">from</span> <span class="nn">flask</span> <span class="k">import</span> <span class="n">Flask</span><span class="p">,</span> <span class="n">render_template</span>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-4"></a>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-5"></a><span class="n">app</span> <span class="o">=</span> <span class="n">Flask</span><span class="p">(</span><span class="n">__name__</span><span class="p">)</span>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-6"></a>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-7"></a><span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s">'/'</span><span class="p">)</span>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-8"></a><span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s">'/index'</span><span class="p">)</span>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-9"></a><span class="k">def</span> <span class="nf">index</span><span class="p">():</span>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-10"></a>    <span class="k">return</span> <span class="s">"Hello World!"</span>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-11"></a>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-12"></a><span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s">'/user_template'</span><span class="p">)</span>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-13"></a><span class="k">def</span> <span class="nf">user</span><span class="p">():</span>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-14"></a>    <span class="n">username</span> <span class="o">=</span> <span class="p">{</span><span class="s">'nick'</span><span class="p">:</span> <span class="s">'Leo'</span><span class="p">,</span>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-15"></a>                <span class="s">'name'</span><span class="p">:</span> <span class="s">'Leandro'</span><span class="p">}</span>  <span class="c"># fake user</span>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-16"></a>    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s">'user.html'</span><span class="p">,</span>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-17"></a>                           <span class="n">user</span><span class="o">=</span><span class="n">username</span><span class="p">,</span>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-18"></a>                           <span class="n">app</span><span class="o">=</span><span class="n">app</span><span class="o">.</span><span class="n">name</span><span class="p">)</span>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-19"></a>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-20"></a><span class="k">if</span> <span class="n">__name__</span> <span class="o">==</span> <span class="s">"__main__"</span><span class="p">:</span>
<a name="rest_code_e13c7cbb313f477e910f43f3f2f81e1f-21"></a>    <span class="n">app</span><span class="o">.</span><span class="n">run</span><span class="p">(</span><span class="n">debug</span><span class="o">=</span><span class="k">True</span><span class="p">)</span>
</pre>
<p><a class="reference external" href="../../../listings/par/user.html.html">par/user.html</a></p>
<pre class="code html"><a name="rest_code_74e73795bb904e008a76d1aa3bb8aa8b-1"></a><span class="cp">&lt;!DOCTYPE html&gt;</span>
<a name="rest_code_74e73795bb904e008a76d1aa3bb8aa8b-2"></a><span class="nt">&lt;html&gt;</span>
<a name="rest_code_74e73795bb904e008a76d1aa3bb8aa8b-3"></a><span class="nt">&lt;head&gt;</span>
<a name="rest_code_74e73795bb904e008a76d1aa3bb8aa8b-4"></a><span class="nt">&lt;title&gt;</span>Usuario {{ user.nick }}<span class="nt">&lt;/title&gt;</span>
<a name="rest_code_74e73795bb904e008a76d1aa3bb8aa8b-5"></a><span class="nt">&lt;/head&gt;</span>
<a name="rest_code_74e73795bb904e008a76d1aa3bb8aa8b-6"></a><span class="nt">&lt;body&gt;</span>
<a name="rest_code_74e73795bb904e008a76d1aa3bb8aa8b-7"></a>
<a name="rest_code_74e73795bb904e008a76d1aa3bb8aa8b-8"></a><span class="nt">&lt;h1&gt;</span>Hola {{ user.name }}<span class="nt">&lt;/h1&gt;</span>
<a name="rest_code_74e73795bb904e008a76d1aa3bb8aa8b-9"></a><span class="nt">&lt;p&gt;</span>Está bastante bueno esto de Flask, ejecutando {{ app }}.<span class="nt">&lt;/p&gt;</span>
<a name="rest_code_74e73795bb904e008a76d1aa3bb8aa8b-10"></a>
<a name="rest_code_74e73795bb904e008a76d1aa3bb8aa8b-11"></a><span class="nt">&lt;/body&gt;</span>
<a name="rest_code_74e73795bb904e008a76d1aa3bb8aa8b-12"></a><span class="nt">&lt;/html&gt;</span>
</pre>
</div>
<div class="section" id="estructuras-de-control-en-las-plantillas">
<h3><a class="toc-backref" href=".#id14">Estructuras de control en las plantillas</a></h3>
<p><a class="reference external" href="../../../listings/par/routes4.py.html">par/routes4.py</a></p>
<pre class="code python3"><a name="rest_code_3f97113aa1844fe592d946c2a0c41840-1"></a><span class="c">#!/usr/bin/env python</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-2"></a>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-3"></a><span class="kn">from</span> <span class="nn">flask</span> <span class="k">import</span> <span class="n">Flask</span><span class="p">,</span> <span class="n">render_template</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-4"></a>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-5"></a><span class="n">app</span> <span class="o">=</span> <span class="n">Flask</span><span class="p">(</span><span class="n">__name__</span><span class="p">)</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-6"></a>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-7"></a><span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s">'/'</span><span class="p">)</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-8"></a><span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s">'/index'</span><span class="p">)</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-9"></a><span class="k">def</span> <span class="nf">index</span><span class="p">():</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-10"></a>    <span class="k">return</span> <span class="s">"Hello World!"</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-11"></a>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-12"></a><span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s">'/users'</span><span class="p">)</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-13"></a><span class="k">def</span> <span class="nf">user</span><span class="p">():</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-14"></a>    <span class="c"># fake users</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-15"></a>    <span class="n">users</span> <span class="o">=</span> <span class="p">[{</span><span class="s">'nick'</span><span class="p">:</span> <span class="s">'Titi'</span><span class="p">,</span> <span class="s">'name'</span><span class="p">:</span> <span class="s">'Thiago'</span><span class="p">},</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-16"></a>             <span class="p">{</span><span class="s">'nick'</span><span class="p">:</span> <span class="s">'Fer'</span><span class="p">,</span> <span class="s">'name'</span><span class="p">:</span> <span class="s">'Fernanda'</span><span class="p">},</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-17"></a>             <span class="p">{</span><span class="s">'nick'</span><span class="p">:</span> <span class="s">'Leo'</span><span class="p">,</span> <span class="s">'name'</span><span class="p">:</span> <span class="s">'Leandro'</span><span class="p">},</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-18"></a>    <span class="p">]</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-19"></a>    <span class="n">value</span> <span class="o">=</span> <span class="mi">12</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-20"></a>    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s">'users.html'</span><span class="p">,</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-21"></a>                           <span class="n">users</span><span class="o">=</span><span class="n">users</span><span class="p">,</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-22"></a>                           <span class="n">value</span><span class="o">=</span><span class="n">value</span><span class="p">)</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-23"></a>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-24"></a><span class="k">if</span> <span class="n">__name__</span> <span class="o">==</span> <span class="s">"__main__"</span><span class="p">:</span>
<a name="rest_code_3f97113aa1844fe592d946c2a0c41840-25"></a>    <span class="n">app</span><span class="o">.</span><span class="n">run</span><span class="p">(</span><span class="n">debug</span><span class="o">=</span><span class="k">True</span><span class="p">)</span>
</pre>
<p><a class="reference external" href="../../../listings/par/users.html.html">par/users.html</a></p>
<pre class="code html"><a name="rest_code_cd2ae4faab904f31a152b6269daf7645-1"></a><span class="cp">&lt;!DOCTYPE html&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-2"></a><span class="nt">&lt;html&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-3"></a><span class="nt">&lt;head&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-4"></a><span class="nt">&lt;title&gt;</span>Lista de Usuarios<span class="nt">&lt;/title&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-5"></a><span class="nt">&lt;/head&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-6"></a><span class="nt">&lt;body&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-7"></a>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-8"></a><span class="nt">&lt;h1&gt;</span>Usuarios<span class="nt">&lt;/h1&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-9"></a><span class="nt">&lt;p&gt;</span>Esta es la lista de usuarios<span class="nt">&lt;/p&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-10"></a><span class="nt">&lt;table&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-11"></a>    <span class="nt">&lt;tr&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-12"></a>        <span class="nt">&lt;th&gt;</span>Nombre<span class="nt">&lt;/th&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-13"></a>        <span class="nt">&lt;th&gt;</span>Nick<span class="nt">&lt;/th&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-14"></a>    <span class="nt">&lt;/tr&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-15"></a>    {% for user in users %}
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-16"></a>    <span class="nt">&lt;tr&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-17"></a>        <span class="nt">&lt;td&gt;</span>{{ user.name }}<span class="nt">&lt;/td&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-18"></a>        <span class="nt">&lt;td&gt;</span>{{ user.nick }}<span class="nt">&lt;/td&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-19"></a>    <span class="nt">&lt;/tr&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-20"></a>    {% endfor %}
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-21"></a><span class="nt">&lt;/table&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-22"></a>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-23"></a>{% if value &gt; 0 %}
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-24"></a><span class="nt">&lt;p&gt;</span>El valor es mayor a cero<span class="nt">&lt;/p&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-25"></a>{% else %}
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-26"></a><span class="nt">&lt;p&gt;</span>El valor es menor a cero<span class="nt">&lt;/p&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-27"></a>{% endif %}
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-28"></a>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-29"></a><span class="nt">&lt;/body&gt;</span>
<a name="rest_code_cd2ae4faab904f31a152b6269daf7645-30"></a><span class="nt">&lt;/html&gt;</span>
</pre>
</div>
</div>
</div>
    </div>
    

</article>
</div>
        <!--End of body content-->

        <footer id="footer"><div class="text-center">
Contents © 2017         <a href="mailto:leo@bitson.com.ar">Leandro E. Colombo Viña</a> -
<a href="https://www.facebook.com/bitsonargentina"><i class="fa fa-facebook-official"></i></a>
<a href="https://www.twitter.com/lecovi"><i class="fa fa-twitter"></i></a>
<a href="https://instagram.com/lecovi"><i class="fa fa-instagram"></i></a>
<a href="https://www.linkedin.com/in/leandrocolombo"><i class="fa fa-linkedin"></i></a>
<a href="https://www.telegram.me/lecovi"><i class="fa fa-send"></i></a>
<a href="#+5491130015328"><i class="fa fa-whatsapp"></i></a>
<a href="https://www.youtube.com/bitsonargentina"><i class="fa fa-youtube"></i></a>
<a href="https://plus.google.com/+LeandroEColomboVi%C3%B1a-bitson"><i class="fa fa-google-plus"></i></a>
<a href="https://www.github.com/lecovi"><i class="fa fa-github"></i></a>
<a href="https://bitbucket.org/colomboleandro"><i class="fa fa-bitbucket"></i></a> -
Powered by         <a href="https://getnikola.com" rel="nofollow">Nikola</a>   -    
 <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
 <img alt="Creative Commons License BY-NC-SA" style="border-width:0; margin-bottom:12px;" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png"></a>
</div>

            
        </footer>
</div>
</div>


            <script src="../../../assets/js/all-nocdn.js"></script><script src="../../../assets/js/colorbox-i18n/jquery.colorbox-es.js"></script><script>$('a.image-reference:not(.islink) img:not(.islink)').parent().colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script><!-- fancy dates --><script>
    moment.locale("es");
    fancydates(0, "YYYY-MM-DD HH:mm");
    </script><!-- end fancy dates -->
</body>
</html>
